svg.icon {
    vertical-align: baseline;
}

table.table th{
    background: #E8E8E8;
}
    
@supports (position: fixed) {
    @media screen and (min-height: 500px) {
        .sidebar {
            position: fixed;
            top: 0px;
            height: 100%;
            padding-top: 40px;
        }
    }
}

.sidebar .toc-link.reading {
    color: black;
}

.section-link {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 0.7em;
}

section:hover .section-link {
    opacity: 1;
}